/* Define main colors */
:root {
    --primary-color: #04006C; 
    --secondary-color: #FFC200; 
    --background-color: #333;
    --tertiary-color: #444;
}

/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color); 
    color: var(--primary-color); 
    margin: 0; 
    padding: 0; 
    line-height: 1.6;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}

/* Navbar styles */
.navbar {
    background-color: var(--primary-color); 
    color: var(--secondary-color); 
    width: 100%; 
    margin: 0 auto; 
}

/* Navbar links */
.navbar-brand, .navbar-nav .nav-link {
    color: var(--secondary-color); 
}

/* Center align the navbar links */
.navbar-nav {
    margin: auto; 
}

/* Navbar link hover */
.nav-link:hover {
    color: var(--primary-color); 
    background-color: var(--secondary-color);
}


/* Main content styles */
main {
    background-color: var(--background-color); 
    color: var(--secondary-color); 
    padding: 5%; 
    flex: 1;
}

/* Section styles */
section {
    background-color: var(--tertiary-color); 
    border-radius: 0.5rem; 
    padding: 5%; 
    margin-bottom: 3%; 
}

/* Footer styles */
footer {
    background-color: var(--primary-color); 
    color: var(--secondary-color); 
    padding: 0.8%; 
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-content p{
    margin: 0%;
}
.social-media-icons{
    display: flex;
}
.social-media-icons a {
    display: inline-block;
    margin: 0 10px;
}

.social-media-icons img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.social-media-icons img:hover {
    transform: scale(1.1);
}

/* Movie container styles */
.movie-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px; 
    overflow-x: auto; 
}

/* Movie box styles */
.movie-box {
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 200px;
}

.movie-box:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}

.movie-box figcaption {
    font-family: Arial, sans-serif;
    color: var(--secondary-color);
    margin-top: 10px;
    font-weight: bold;
}

.movie-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
}

/* TV show section styles */
.tv-show-section {
    text-align: center;
    padding: 20px;
}

/* TV show details styles */
.tv-show-details {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* TV show poster styles */
.poster-container {
    flex: 0 0 40%;
    margin-right: 20px;
}

.poster-container img {
    max-width: 70%;
    height: auto;
    border-radius: 8px;
}

/*--------------------------------------------------------------------------*/
/* Carousel item styles */
.carousel-item {
    flex-direction: column;
    justify-content: space-between; 
    display: flex;
    align-items: center; 
    align-items: flex-start; 
}

/* Carousel image styles */
.carousel-item img {
    width: 18%; 
    height: auto; 
    border-radius: 6px; 
    margin-right: 20px; 
}

/* Carousel caption styles */
.carousel-caption {
    margin-left: 55px; 
    justify-content: left;
    vertical-align: text-top;
    text-align: left; 
}

/* Slide label styles */
.carousel-caption h3  {
    text-align: left; 
    font-size: 1.5rem; 
    color: var(--secondary-color); 
}
.carousel-caption h5  {
    text-align: left; 
    font-size: 1.5rem; 
    color: var(--secondary-color); 
}

/* Placeholder content styles */
.carousel-caption p {
    text-align: left; 
    font-size: 1rem; 
    color: var(--secondary-color); 
}

.carousel-caption ul {
    text-align: left; 
    font-size: 1rem; 
    color: var(--secondary-color); 
}

video{

    margin-left: 0%;
}

/*Indivisual Movie page*/
#information {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.info-box figcaption{
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
}

.info-box {
    flex-basis: 30%;
    margin-right: 20px;
}

.info-article {
    flex: 1;
    margin-left: 20px;
}

.info-image {
    max-width: 100%;
    height: auto;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .navbar-nav {
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .navbar-nav .nav-link {
        padding: 10px;
        text-align: center;
    }

    .movie-container {
        flex-direction: column;
        align-items: center;
    }

    .movie-box {
        width: 90%;
        margin-bottom: 20px;
    }

    .carousel-item img {
        width: 90%;
        height: auto;
    }

    .carousel-caption {
        padding: 10px;
        text-align: center;
    }
    
    #information {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .info-box, .info-article {
        flex-basis: 100%;
        margin: 10px 0;
    }

    .info-box figcaption {
        font-size: large;
    }

    .poster-container img {
        max-width: 100%;
    }

    .trailer-video {
        width: 100%;
        max-width: 100%;
    }
}

